@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --banner-bg-color: #1d4ed8;
  --item-card-bg-color: #f9fafb;
  --item-card-shadow-color: #3f3f46;
  --viwer-button-bg-color: #6366f1;
  --category-nav-bg-color: #c7d2fe;
  --category-nav-selected: #818cf8;
  --category-nav-hovered: #6366f1;
  --image-index-none-seleted: black;
  --image-index-selected: white;
  background-color: white;
  color: black;
}

.dark {
  --banner-bg-color: #172554;
  --item-card-bg-color: #27272a;
  --item-card-shadow-color: #52525b;
  --viwer-button-bg-color: #312e81;
  --category-nav-bg-color: #312e81;
  --category-nav-selected: #1e1b4b;
  --category-nav-hovered: #3730a3;
  --image-index-none-seleted: white;
  --image-index-selected: black;
  background-color: black;
  color: white;
}

* {
  user-select: none;
}
